@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

.dark {
  --background: black;
  --foreground: white;
}

@theme {
  --font-family-sans: var(--font-inter), var(--font-geist), system-ui,
    sans-serif;
}
